<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.EmployeeDao">
    <select id="getAllemp" resultType="com.entity.EmployeeEntity">
        select eid,ename,sex,section,post from employee order by eid
    </select>

    <insert id="insert">
        insert into employee(ename, sex, section, post)
        values (#{ename},#{sex},#{section},#{post})
    </insert>

    <delete id="delete">
        delete from employee
        where eid = #{eid}
    </delete>

    <update id="update" parameterType="com.entity.EmployeeEntity">
        update employee
        set ename = #{ename},sex = #{sex},section = #{section},post = #{post}
        where eid = #{eid}
    </update>
</mapper>











